:root {
    // Primary
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --veryDarkCyan: hsl(179, 100%, 13%);
    
    //Neutral
    --transWhite: hsla(0, 0%, 100%, 0.75);
    --veryLightGray: hsl(0, 0%, 95%);

    //Fonts
    --lexend: 'Lexend Deca', sans-serif;
    --bigShoulders: 'Big Shoulders Display', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
}